*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
p,
ul,
figure,
picture {
  margin: 0;
}

body {
  padding: 0;
}

address,
button,
input,
textarea,
select {
  font: inherit;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
