/* screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line*/
  border: 0;
}

.flow > * {
  outline: 2px solid rgb(216, 232, 250);
}

.container {
  margin-inline: auto;
  max-width: 80rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.uppercase {
  text-transform: uppercase;
}
